<footer class="text-center p-4">
    <form [formGroup]="mainfooter">
        <span style="color: rgb(8, 39, 192);">
            Disclaimer : This dashboard is based on secondary data sources and information received from departments. State
            Planning
            Commission is not responsible for data accuracy or any consequences of using this data, as this dashboard is based
            purely on data received from the departments.
        </span> <br>
        <span style="color: rgb(40, 58, 148);">Copyright © 2024, All Rights Reserved to State Planning Commission, Government of Chhattisgarh Total Visitors :</span>
        <span style="color: rgb(225, 8, 8);">{{ this.visitor_count}}</span>
    </form>
</footer>

<div class="modal fade" id="goalinfomodal1" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"  style="background-color: #dd1e47">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-1 (No-Poverty)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>Poverty is a multi-dimensional phenomenon. It not only indicates the lack of income or
                            access to resources, but it also manifests in the form of diminished opportunities for
                            education, hunger and malnutrition, social discrimination and the inability to participate
                            in decision-making processes. </li>
                        <li>Eradicating poverty in all its forms remains one of the greatest challenges before the
                            mankind. </li>
                        <li>Extreme deprivation is not just about wellbeing and opportunity; it is a question of
                            survival also. </li>
                        <li>The Goal 1 has 7 targets to measure the progress of state in ending poverty, in all its
                            forms, from everywhere. </li>
                        <li>A total of 24 indicators have been identified at state level to measure and monitor the
                            progress of these targets and data is available for 23 indicators. </li>
                    </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal2" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ddba1e">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-2 (Zero-Hunger)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>End all forms of hunger and malnutrition by 2030, making sure that all  people, especially those in vulnerable situations, have sufficient nutritious food all year. </li>
                        <li>Aims to double agricultural productivity in next 15 years and generate decent incomes, while supporting people-centered rural development and protecting the environment. </li>
                        <li>Promoting sustainable agriculture, supporting small-scale farmers, and creating equal access to land, technology and markets central to eradication of hunger and poverty. International cooperation to ensure investment in infrastructure and technology to improve agricultural productivity. </li>
                        <li>The Goal has 8 targets to measure the availability of food, improvement in nutrition and promotion of sustainable agriculture. </li>
                        <li>A total of 21 indicators have been identified to measure and monitor the progress of these targets at state level. </li></ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal3" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal3"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1edd81">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-3 (Good Health and Well-being)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li> Addressing major health priorities, including reproductive, maternal and child health communicable, non-communicable and environmental diseases universal health coverage and access to safe, effective, quality and affordable medicines and vaccines. </li>
                        <li>The Goal has 13 targets to measure the healthy lives and promoting well-being for all. </li>
                        <li>A total of 38 indicators have been identified at state level to measure and monitor the progress of these targets and data is available for all indicators. </li>
                    </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal4" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal4"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #dd1e21">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-4 (Quality Education)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>Aims to ensure the completion of primary and secondary education by all boys and girls, and guarantee opportunities for equal access to quality technical and vocational education for everyone. </li>
                        <li>Equal access to affordable vocational training, to eliminate gender and wealth disparities, and achieve universal access to a quality higher education. </li>
                        <li>The Goal has 10 targets to measure the inclusive and equitable quality education and promote lifelong learning opportunities. </li>
                        <li>A total of 20 indicators have been identified at State level to monitor the progress of these targets and the data for all indicators are available. </li></ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal5" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal5"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #dd1e21">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-5 (Gender Equality)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>End all forms of discrimination against women and girls everywhere. Vital to give women equal rights on land and property, sexual and reproductive health, and to technology and the internet. </li>
                        <li>End all forms of discrimination against women and girls is not only a basic human right but also it is crucial for sustainable future of societies. Providing women and girls with equal access to education, health care, decent work, and representation in political and economic decision- making processes will achieve sustainable economies and benefit societies and humanity at large. </li>
                        <li>The Goal has 9 targets to monitor gender equality and ensure empowerment of women and girls. </li>
                        <li>A total of 27 indicators identified at state level to monitor the progress of these targets. </li></ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal6" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal6"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4ab0d9">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-6 (Clean Water and Sanitation)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>Water scarcity, poor water quality and inadequate sanitation negatively impacts food security, livelihood choices and educational opportunities for poor families across the world. </li>
                        <li>Ensure availability and sustainable management of water and sanitation for all and reflects the increased attention on water and sanitation in the global political arena. </li>
                        <li>The 2030 Agenda recognizes that social development and economic prosperity depends on the sustainable management of fresh- water resources and ecosystems. </li>
                        <li>A total of 8 SDG targets under the goal to ensure the availability and sustainable management of water and sanitation for all. </li>
                        <li>A total of 14 indicators identified at state level to measure and monitor the progress of these targets. </li> </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal7" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal7"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#d9ab4a">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-7 (Affordable and Clean Energy)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>Sustainable energy is an opportunity that can transform lives, economies, and the planet. </li>
                        <li>Role of energy critical in fueling the engine of growth and its role can't be undermined in the development process of the societies. It is in the center of nearly every major challenge and opportunity of the world which are either related to starting a business or increasing the food production or incomes etc. </li>
                        <li>Aims to improve energy efficiency, increase use of renewable sources and promotion of sustainable and modern energy for all. </li>
                        <li>A total of 5 targets under this goal to ensure access to a?ordable, reliable, sustainable and modern energy for all. </li>
                        <li> A total of 5 indicators identified at state level to measure and monitor the progress of these targets. </li></ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal8" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal8"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#9c2828">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-8 (Decent Work and Economic Growth)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>Promote policies that encourage entrepreneurship and job creation are key to this Goal, as are effective measures to eradicate forced labour, slavery and human trafficking. </li>
                        <li>Aims to encourage sustained economic growth by achieving higher levels of productivity and through technological innovation. </li>
                        <li>Achieve full and productive employment, and decent work, reduce informal employment and the gender pay gap and promote safe and secure working environments for all women and men by 2030. </li>
                        <li>A total of 12 targets under this goal to ensure decent work for all and economic growth of the societies. </li>
                        <li>A total of 31 indicators identified at state level to measure and monitor the progress of the goal. </li>
                    </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal9" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal9"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dd5e1e">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-9 (Industry, Innovation and Infrastructure)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li>Develop quality, reliable, sustainable and resilient infrastructure, support economic development and human well-being, facilitate sustainable and resilient infrastructure development with a focus on affordable and equitable access for all and to promote inclusive and sustainable industrialization among many targets. </li>
                        <li>Investment in various infrastructure sectors like transport, irrigation, energy etc. is vital to ensuring sustainable development of many countries. </li>
                        <li> The Goal has 8 targets to measure its progress. </li>
                        <li>A total of 13 indicators identified at state level to measure and monitor the progress of these targets. </li>
                    </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal10" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal10"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dd1e21">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-10 (Reduced Inequalities)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li> Reduction in inequality which persists in income as well as that based on age, sex, disability, religion or economic or other status within a country as well as among countries. Inequality is not only a barrier to progress but also deprives people from opportunities and ultimately leads to the conditions of extreme poverty. </li>
                        <li>The Goal has 10 targets to reduce the inequality mainly by regulating and monitoring the financial markets and institutions, encouraging development assistance and foreign direct investment to regions where required. </li>
                        <li> A total of 9 indicators identified at state level to measure and monitor the progress of these targets. </li>
                    </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal11" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal11"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#dd5e1e">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-11 (Sustainable Cities and Communities)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                    <ul class="listnew">
                        <li> Cities plays a vital role in development of the nations as these offer opportunities for people to prosper economically and socially. Urbanization has resulted into creation of new jobs & opportunities and reduction in poverty. </li>
                        <li>Urban spaces can overcome challenges of rapid growth by improving resource use and focusing on reducing pollution and poverty including provisions to provide access to basic services, energy, housing and simultaneously reducing emissions of greenhouse gases. </li>
                        <li> A total of 10 targets to make cities and human settlements inclusive, safe, resilient, and sustainable. </li>
                        <li> A total of 16 indicators identified at state level to measure and monitor the progress of targets. </li>
                    </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal12" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal12"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#b39439">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-12 (Sustainable Consumption and Production)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                  <ul class="listnew">
                    <li>Ensure sustainable consumption and production patterns. </li>
                    <li>Sustainable consumption and production defined as “the use of services and related products which respond to basic needs and bring a better quality of life, while minimizing the use of natural resources and toxic materials as well as the emission of waste and pollutants over the life cycle of the service or product so as not to jeopardize the needs of future generations” (Oslo Symposium 1994). </li>
                    <li>Promote efficient use of natural resource, energy efficiency and sustainable infrastructure. It involves engaging consumers through awareness-raising and education on sustainable consumption and reducing waste. </li>
                    <li>A total of 11 targets to measure the sustainable consumption and production patterns. </li>
                    <li> A total of 16 indicators identified at state level to measure and monitor the progress of these targets. </li>
                </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal13" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal13"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#307341">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-13 (Climate Action)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                 <ul class="listnew">
                    <li>Aims to take urgent action to combat climate change and its impacts. </li>
                    <li>The world is experiencing rising sea levels, extreme weather conditions and increasing concentrations of greenhouse gases which is threatening lives of all, specially populations placed in the coastal areas. With rising greenhouse gas emissions, ambitious plans and accelerated action are needed on mitigation and adaptation of climate change impacts including access to finance and strengthened capacities. </li>
                    <li>Build resilience and adopt adaptive capacity to climate related hazards and integration of such measures into national policies. </li>
                    <li>Focuses not only on early warning but also on impact reduction. It emphasizes the role of partnerships and commitment among nations for the same. </li>
                    <li>A total of 5 targets to measure the changing impacts of climate related hazards. </li>
                    <li>A total of 7 indicators identified at state level to measure and monitor the progress of these targets. </li></ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal14" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal14"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3e81e6">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-14 (Life Below Water)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                  <ul class="listnew">
                    <li>Conserve and sustainably use the oceans, seas and marine resources for sustainable development</li></ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal15" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal15"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#56ad2d">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-15 (Life on Land)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                 <ul class="listnew">
                    <li>Protect, restore, and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss. </li>
                    <li>Terrestrial ecosystems including forests and wetlands provide goods such as timber, raw materials for construction and energy and food for all. </li>
                    <li> Total of 12 targets to measure the changing health and status of terrestrial ecosystems. </li>
                    <li> Total of 9 indicators identified at state level to measure and monitor the progress of these targets. </li>
                </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal16" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal16"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2d69ad">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-16 (Peace, Justice and Strong Institutions)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                 <ul class="listnew">
                    <li>The global sustainable development agenda for 2030 promotes transparent and effective local governance and judicial systems, reducing crime and sexual and gender-based violence, tackling homicide and trafficking cases and also end Children's rights violations. </li>
                    <li>Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels. </li>
                    <li>Violence and armed conflict are the most significant and destructive challenge to the development, growth, and well-being of societies and It needs to Address the challenges of violence at all levels –individual, relationship, community and societal </li>
                    <li> A total of 12 targets to ensure peaceful and just societies. </li><li> A total of 21 indicators identified at state level to measure and monitor the progress of these targets. </li>
                </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goalinfomodal17" tabindex="-1" role="dialog" aria-labelledby="goalinfomodal17"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#221761">
                <h5 class="modal-title1" id="goalinfomodal1">GOAL-17 (Partnerships for the Goals)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color: rgb(6, 0, 0); font-weight: normal;">
                 <ul class="listnew">
                    <li>Strengthen the means of implementation and revitalizing the Global Partnership for Sustainable Development. </li>
                    <li>Partnership among the di?erent stakeholders like Government, societies etc. is essential for achieving the sustainable development. </li>
                    <li> A total of 9 targets to strengthen the means of implementation and revitalize the Global Partnership. </li>
                    <li> A total of 4 state indicators identified at state level to track the progress of the targets and integrate measures into national policies. </li>
                </ul>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
