.modal-title1
{
    color: white;
    font-size: large;
}

.mhbc
{
    background-color:#dd1e47;
}

.mhbc2 {
    background-color: #ddba1e;
}

.mhbc3 {
    background-color: #1edd81;
}

.mhbc4 {
    background-color: #dd1e21;
}

.mhbc5 {
    background-color: #dd5e1e;
}

.mhbc6 {
    background-color: #4ab0d9;
}

.mhbc7 {
    background-color: #d9ab4a;
}

.mhbc8 {
    background-color: #9c2828;
}

.mhbc9 {
    background-color: #dd5e1e;
}

.mhbc10 {
    background-color: #dd1e21;
}

.mhbc11 {
    background-color: #dd5e1e;
}

.mhbc12 {
    background-color: #b39439;
}

.mhbc13 {
    background-color: #307341;
}

.mhbc14 {
    background-color: #3e81e6;
}

.mhbc15 {
    background-color: #56ad2d;
}

.mhbc16 {
    background-color: #2d69ad;
}

.mhbc17 {
    background-color: #221761;
}
