

th {
    background: #2B3499;
    font-size: 14px;
    color: rgb(252, 252, 253);
    text-align: center;
}

td {
    font-size: 13px;
}



table,
thead,
tbody,
tr {
    width: 100%;
}

//table { table-layout: fixed }
table>thead>tr>th {
    width: auto;
}

.show-scrolltop {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}