<div id="main-wrapper">
    <app-cgheader></app-cgheader>
    <section class="spacer bg-light">
        <div class="content-wrapper">
            <section class="spacer bg-light">
                <div class="container">
                    <div class="row py-1">
                        <div class="col-md-12">
                            <div class="card p-2 mr-0">
                                <div class="card-body p-2">
                                    <ul class="list-unstyled listing">
                                        <li>
                                            <a [routerLink]="['/home']" class="btn btn-custom btn-outline-info btn-md"
                                                >HOME</a>&nbsp;
                                            <a [routerLink]="['/sifbaseline']"
                                                class="btn btn-custom btn-outline-info btn-md" >SIF
                                                Baseline and
                                                Progress Report</a>&nbsp;
                                            <a href="#" class="btn btn-custom btn-outline-info btn-md"
                                                target="_blank">SDG GIS Based
                                                Maps</a>&nbsp;
                                            <a href="https://sdgindiaindex.niti.gov.in/#/"
                                                class="btn btn-custom btn-outline-info btn-md" target="_blank">NITI
                                                Aayog SDG
                                                India Index 3.0</a>&nbsp;
                                            <a href="" class="btn btn-custom btn-outline-info btn-md"
                                               >DIF
                                                Reports</a>&nbsp;
                                            <a [routerLink]="['/login']" class="btn btn-custom btn-info btn-md"
                                                target="_blank">ADMIN LOGIN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="districtdashboard">
                        <div class="row py-1">
                            <div class="col-md-12">
                                <div class="card p-1 mr-1">
                                    <div class="card-body p-4">
                                        <h3 class="text-primary text-center"><span style="color: #e80d0d;">{{this.selecteddistrictname}}</span> -- Indicators Analysis for <span style="color: #056213;"> {{this.selectedgoal}} </span> </h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field>
                                                    <mat-label>Select Year<span class="required"></span>
                                                    </mat-label>
                                                    <mat-select formControlName="valueyear" (selectionChange)="onYearSelected($event)">
                                                        <mat-option *ngFor="let f of year" [value]="f.valueyear">
                                                            {{f.valueyear}} </mat-option>
                                                    </mat-select>
                                                </mat-form-field>                                                
                                            </div>
                                        </div>                                       
                                        <ng-container *ngFor="let c of indicatormetadata;let i=index;">                                            
                                            <div class="row">
                                                <div class="col-md-6">  
                                                    <h3 class="text-primary text-center"> Meta Data</h3>
                                                    <hr>
                                                    <table class="table-responsive">
                                                        <tr>
                                                            <th>
                                                                Content
                                                            </th>
                                                            <th>
                                                                Description
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Goal
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].sdg_goal_master_id}} - {{this.indicatormetadata[i].goal_name}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Target
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].dif_target_desc}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Description of Indicator
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].district_indicator_desc}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Computation of Indicator
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].computation_description_of_indicator}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Unit of Measurement
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].uom}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Data Source
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].progress_year_data_source}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Data Provider
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].data_provider_at_district}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Periodicity
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].periodicity}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Data Source Link
                                                            </th>
                                                            <td>
                                                                {{this.indicatormetadata[i].data_link}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Indicator Type
                                                            </th>
                                                            <ng-container *ngIf="this.indicatormetadata[i].kpi_negation == 1">
                                                                <td> Negative </td>
                                                            </ng-container>
                                                    
                                                            <ng-container *ngIf="this.indicatormetadata[i].kpi_negation != 1">
                                                                <td> Positive </td>
                                                            </ng-container>
                                                        </tr>
                                                    </table>        
                                                    <hr>                                                                                               
                                                </div>
                                                <div class="col-md-6">
                                                    <h3 class="text-primary text-center"> {{this.indicatormetadata[i].district_indicator_desc}} <br> <span style="color: #056213;">Unit : {{this.indicatormetadata[i].uom}} </span></h3>
                                                    <div class="row">
                                                        <div class="col-md-12">    
                                                            <div id="chart">                                                              
                                                                <apx-chart #chart1 [series]="temp[i]" [chart]="chartOptions.chart" [xaxis]="xaxis[i]"
                                                                    [stroke]="chartOptions.stroke" [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels"
                                                                    [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
                                                                    [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <table class="table-responsive">
                                                                <tr>
                                                                    <th>
                                                                        Period
                                                                    </th>
                                                                    <th>
                                                                        Indicator Value
                                                                    </th>
                                                                    <th>
                                                                        Target
                                                                    </th>
                                                                    
                                                                </tr>
                                                                <ng-container *ngFor="let v of indicatorvalues">
                                                                    <ng-container *ngIf="this.indicatormetadata[i].district_indicator_desc == v.district_indicator_desc">
                                                                        <tr>
                                                                            <td>
                                                                                {{v.valueyear}}
                                                                            </td>
                                                                            <td>
                                                                                {{v.indicators_value}}
                                                                            </td>
                                                                            <td>
                                                                                {{v.kpi_target2030}}
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </table>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>   
                                        </ng-container>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
    <app-mainfooter></app-mainfooter>
</div>




