.goalsimage {
    height: 4.2rem;
    width: 4.2rem;
    overflow: hidden;
}

.inner-img {
    transition: 0.3s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.goalslink {
    float: left;
}

.langSwitch {
    background-color: #1a4f7e;
    border: none;
    color: white;
    height: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 10px;
    transition-duration: 0.4s;
    border-radius: 5px;
    padding: 4px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.langSwitch:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    text-decoration: underline;
}

.btn-outline-primary {
    // color: #0d6efd;
    //border-color: #0d6efd;
    height: 30px;
    width: auto;
    vertical-align: middle;
}
