<div id="main-wrapper">
<form [formGroup]="cgdistricttable">
    <app-cgheader></app-cgheader>
<section class="spacer bg-light">
        <div class="content-wrapper">
            <section class="spacer bg-light">
                <div class="container">
                    <div class="row py-1">
                        <div class="col-md-12">
                            <div class="card p-2 mr-0">
                                <div class="card-body p-2">
                                    <ul class="list-unstyled listing">
                                        <li>
                                            <a [routerLink]="['/home']" class="btn btn-custom btn-outline-info btn-md"
                                                 style="color: #020f9f;">HOME</a>&nbsp;
                                            <a [routerLink]="['/cghome']" class="btn btn-custom btn-outline-info btn-md" style="color: #020f9f;">Chhattisgarh SDG
                                                    District Index</a>&nbsp;
                                            <a [routerLink]="['/sifbaseline']" class="btn btn-custom btn-outline-info btn-md" style="color: #020f9f;">SIF Baseline and
                                                Progress Report</a>&nbsp;
                                            <a href="#" class="btn btn-custom btn-outline-info btn-md"
                                                target="_blank" style="color: #020f9f;">SDG GIS Based
                                                Maps</a>&nbsp;
                                            <!-- <a href="https://sdgindiaindex.niti.gov.in/#/"
                                                class="btn btn-custom btn-outline-info btn-md" target="_blank" style="color: #020f9f;">NITI
                                                Aayog SDG
                                                India Index 3.0</a>&nbsp; -->
                                            <a href="" class="btn btn-custom btn-outline-info btn-md"
                                                target="_blank" style="color: #020f9f;">DIF
                                                Reports</a>&nbsp;
                                            <a [routerLink]="['/login']" class="btn btn-custom btn-info btn-md"
                                                target="_blank">ADMIN LOGIN</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                  
                    <div class="row py-1">
                        <div class="col-md-12">
                            <div class="card p-1 mr-1">
                                <div class="card-body p-3">
                                    <div class="card mb-3">
                                        <h3 class="text-success"> District Wise Goal Score</h3>
                                        <div class="row py-1">
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <mat-label>Select Year<span class="required"></span> </mat-label>
                                                    <mat-select formControlName="valueyear" (selectionChange)="onYearSelected($event)">
                                                        <mat-option *ngFor="let f of year" [value]="f.valueyear">
                                                            {{f.valueyear}} </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <a [routerLink]="'/cghome/districtanalysis/' + this.cgselectedYear"
                                                    style="color: #f8f8f9;" class="btn btn-custom btn-info btn-md"> Compare District</a>&nbsp;
                                                <a [routerLink]="'/cghome/districtgraphcompare/' + 'DT01' + '/' + this.cgselectedYear"
                                                    style="color: #f8f8f9;" class="btn btn-custom btn-info btn-md">Districtwise Analysis</a>                                               
                                            </div>
                                        </div>
                                        <div class="row py-1">
                                            <div class="col-md-6">
                                                <div class='my-legend'>
                                                    <div class='legend-title'>Legend</div>
                                                    <div class='legend-scale'>
                                                        <ul class='legend-labels'>
                                                            <li><span style='background:#dd1e47; print-color-adjust: exact;'></span>
                                                                Aspirant(0-49) &nbsp;&nbsp;
                                                            </li>
                                                        </ul>
                                                        <ul class='legend-labels'>
                                                            <li>
                                                                <span style='background:#ffc40c; print-color-adjust: exact;'></span>
                                                                Performer(50-64) &nbsp;&nbsp;
                                                            </li>
                                                        </ul>
                                                        <ul class='legend-labels'>
                                                            <li>
                                                                <span style='background:#00a084; print-color-adjust: exact;'></span>
                                                                Front Runner(65-99) &nbsp;&nbsp;
                                                            </li>
                                                        </ul>
                                                        <ul class='legend-labels'>
                                                            <li>
                                                                <span style='background:#00aeef; print-color-adjust: exact;'></span>
                                                                Achiever(100)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <a href="#" (click)="sortdata()"><img src="assets\images\arrow.png" style="width:42px;height:42px;"></a> -->
                                                <button (click)="sortdatabyCompositeScore()" class="btn"><img src="assets\images\arrowC.png" style="width:32px;height:32px;"></button> &nbsp;
                                                <button (click)="sortdatabyDistrict()"  class="btn"><img src="assets\images\arrowD.png" style="width:32px;height:32px;"></button>
                                            </div>
                                        </div>
                    
                                        <!-- <div class="card-body"> -->
                                            <table id="datatablesSimple" class="table-responsive">
                                                <tbody>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>District</th>
                                                        <th>Composite-Score <br>
                                                            <img src="assets/images/sdg/si.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-1
                                                            <br>
                                                            <img src="assets/images/sdg/1.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-2
                                                            <br>
                                                            <img src="assets/images/sdg/2.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-3
                                                            <br>
                                                            <img src="assets/images/sdg/3.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-4
                                                            <br>
                                                            <img src="assets/images/sdg/4.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-5
                                                            <br>
                                                            <img src="assets/images/sdg/5.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-6
                                                            <br>
                                                            <img src="assets/images/sdg/6.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-7
                                                            <br>
                                                            <img src="assets/images/sdg/7.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-8
                                                            <br>
                                                            <img src="assets/images/sdg/8.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-9
                                                            <br>
                                                            <img src="assets/images/sdg/9.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-10
                                                            <br>
                                                            <img src="assets/images/sdg/10.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-11
                                                            <br>
                                                            <img src="assets/images/sdg/11.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-12
                                                            <br>
                                                            <img src="assets/images/sdg/12.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-13
                                                            <br>
                                                            <img src="assets/images/sdg/13.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-15
                                                            <br>
                                                            <img src="assets/images/sdg/15.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>
                                                        <th>G-16
                                                            <br>
                                                            <img src="assets/images/sdg/16.svg"
                                                                class="img img-responsive center-block zoom goalsimage inner-img">
                                                        </th>                    
                                                    </tr>
                                                    <tr *ngFor="let c of compositescore;let i=index;">
                                                        <ng-container *ngIf="c.district_code != selecteddistrictcode">
                                                            <td>{{i+1}}</td>
                                                        </ng-container>
                                                        <ng-container *ngIf="c.district_code == selecteddistrictcode">
                                                            <td [ngStyle]="{'background-color': '#dce1a5', 'outline':'2px solid rgb(51, 4, 224)'}">{{i+1}}</td>
                                                        </ng-container>
                                                        <ng-container *ngIf="c.district_name == 'Chhattisgarh'">
                                                            <td [ngStyle]="{'color':'#008000'}">{{c.district_name}}
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="c.district_name != 'Chhattisgarh'">
                                                            <ng-container *ngIf="c.district_code == selecteddistrictcode">
                                                                <td [ngStyle]="{'background-color':'#dce1a5' ,'outline':'2px solid rgb(51, 4, 224)'}"><a [routerLink]="'/cghome/districtgraphcompare/' + c.district_code + '/' + this.cgselectedYear" style="color: #020f9f;">{{c.district_name}}</a>
                                                                </td>
                                                            </ng-container>
                                                            <ng-container *ngIf="c.district_code != selecteddistrictcode">
                                                                <td><a [routerLink]="'/cghome/districtgraphcompare/' + c.district_code + '/' + this.cgselectedYear" style="color: #020f9f;">{{c.district_name}}</a></td>
                                                            </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="c.district_code != selecteddistrictcode">
                                                            <ng-container *ngIf="c.compositescore >= 0 && c.compositescore &lt;= 49; then t1"></ng-container>
                                                            <ng-container *ngIf="c.compositescore >= 50 && c.compositescore &lt;= 64; then t2"></ng-container>
                                                            <ng-container *ngIf="c.compositescore >= 65 && c.compositescore &lt;= 99; then t3"></ng-container>
                                                            <ng-container *ngIf="c.compositescore == 100; then t4"></ng-container>
                                                            <ng-template #t1>
                                                                <td [ngStyle]="{'background-color': '#dd1e47', 'color':'#ffffff'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                            <ng-template #t2>
                                                                <td [ngStyle]="{'background-color': '#ffc40c', 'color':'#ffffff'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                            <ng-template #t3>
                                                                <td [ngStyle]="{'background-color': '#00a084', 'color':'#ffffff'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                            <ng-template #t4>
                                                                <td [ngStyle]="{'background-color': '#00aeef', 'color':'#ffffff'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                        </ng-container>
                                                    
                                                        <ng-container *ngIf="c.district_code == selecteddistrictcode">
                                                            <ng-container *ngIf="c.compositescore >= 0 && c.compositescore &lt;= 49; then t1"></ng-container>
                                                            <ng-container *ngIf="c.compositescore >= 50 && c.compositescore &lt;= 64; then t2"></ng-container>
                                                            <ng-container *ngIf="c.compositescore >= 65 && c.compositescore &lt;= 99; then t3"></ng-container>
                                                            <ng-container *ngIf="c.compositescore == 100; then t4"></ng-container>
                                                            <ng-template #t1>
                                                                <td [ngStyle]="{'background-color': '#dd1e47', 'color':'#ffffff' ,'outline':'2px solid rgb(51, 4, 224)'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                            <ng-template #t2>
                                                                <td [ngStyle]="{'background-color': '#ffc40c', 'color':'#ffffff', 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                            <ng-template #t3>
                                                                <td [ngStyle]="{'background-color': '#00a084', 'color':'#ffffff', 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                            <ng-template #t4>
                                                                <td [ngStyle]="{'background-color': '#00aeef', 'color':'#ffffff', 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                    {{c.compositescore}} </td>
                                                            </ng-template>
                                                        </ng-container>
                                                    
                                                        <ng-container *ngFor="let d of tabledata;">
                                                            <!-- <ng-container *ngIf="g.goal_id == d.goal_id"> -->
                                                            <ng-container *ngIf="c.district_code == selecteddistrictcode">
                                                                <ng-container *ngIf="c.district_code == d.district_code">
                                                                    <ng-container *ngIf="d.goalscore >= 0 && d.goalscore &lt;= 49; then t1"></ng-container>
                                                                    <ng-container *ngIf="d.goalscore >= 50 && d.goalscore &lt;= 64; then t2"></ng-container>
                                                                    <ng-container *ngIf="d.goalscore >= 65 && d.goalscore &lt;= 99; then t3"></ng-container>
                                                                    <ng-container *ngIf="d.goalscore == 100; then t4"></ng-container>
                                                                    <ng-template #t1>
                                                                        <td
                                                                            [ngStyle]="{'background-color': '#dd1e47', 'color':'#ffffff' , 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a></td>
                                                                    </ng-template>
                                                                    <ng-template #t2>
                                                                        <td
                                                                            [ngStyle]="{'background-color': '#ffc40c', 'color':'#ffffff' , 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a> </td>
                                                                    </ng-template>
                                                                    <ng-template #t3>
                                                                        <td
                                                                            [ngStyle]="{'background-color': '#00a084', 'color':'#ffffff' , 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a> </td>
                                                                    </ng-template>
                                                                    <ng-template #t4>
                                                                        <td
                                                                            [ngStyle]="{'background-color': '#00aeef', 'color':'#ffffff', 'outline':'2px solid rgb(51, 4, 224)'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a> </td>
                                                                    </ng-template>
                                                                </ng-container>
                                                            </ng-container>
                                                            <ng-container *ngIf="c.district_code != selecteddistrictcode">
                                                                <ng-container *ngIf="c.district_code == d.district_code">
                                                                    <ng-container *ngIf="d.goalscore >= 0 && d.goalscore &lt;= 49; then t1"></ng-container>
                                                                    <ng-container *ngIf="d.goalscore >= 50 && d.goalscore &lt;= 64; then t2"></ng-container>
                                                                    <ng-container *ngIf="d.goalscore >= 65 && d.goalscore &lt;= 99; then t3"></ng-container>
                                                                    <ng-container *ngIf="d.goalscore == 100; then t4"></ng-container>
                                                                    <ng-template #t1>
                                                                        <td [ngStyle]="{'background-color': '#dd1e47', 'color':'#ffffff'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">                                                                               
                                                                                {{d.goalscore}}
                                                                            </a>
                                                                         </td>
                                                                    </ng-template>
                                                                    <ng-template #t2>
                                                                        <td [ngStyle]="{'background-color': '#ffc40c', 'color':'#ffffff'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a> </td>
                                                                    </ng-template>
                                                                    <ng-template #t3>
                                                                        <td [ngStyle]="{'background-color': '#00a084', 'color':'#ffffff'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a> </td>
                                                                    </ng-template>
                                                                    <ng-template #t4>
                                                                        <td [ngStyle]="{'background-color': '#00aeef', 'color':'#ffffff'}">
                                                                            <a href="#" data-toggle="modal" data-target="#description" (click)="getgoalid(d.goal_id)">
                                                                                {{d.goalscore}}
                                                                            </a> </td>
                                                                    </ng-template>
                                                                </ng-container>
                                                            </ng-container>
                                                            <!-- </ng-container> -->
                                                        </ng-container>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</section>
</form>
<app-cgfooter></app-cgfooter>
</div>


<div class="modal fade" id="description" tabindex="-1" role="dialog" aria-labelledby="description" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 85%;" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#cbd4f5 ; color: rgb(1, 9, 16);">
                <h3 class="modal-title1" id="goalinfomodal1"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table-responsive">
                    <tbody>
                        <tr>
                            <th>#</th>
                            <th>District</th>
                            <ng-container *ngFor="let l of indicatorlist">
                                <!-- <th>{{l.district_indicator_desc}} {{l.indicator_master_id}}</th> -->
                                <th>{{l.district_indicator_desc}}</th>
                            </ng-container>                           
                        </tr>
                        <tr *ngFor="let c of compositescore;let i=index;"> 
                            <td>{{i+1}}</td>
                            <td>{{c.district_name}}</td>
                            <ng-container *ngFor="let t of indicatordata">
                                <ng-container *ngIf="c.district_code == t.district_code">
                                    <ng-container *ngFor="let d of indicatorlist">
                                        <ng-container *ngIf="d.indicator_master_id == t.district_indicator_master_id">
                                            <!-- <td>{{t.NORMALIZE_VALUE}} {{d.indicator_master_id}} {{t.district_indicator_master_id}}</td> -->
                                            <td> <a  style="color: #020f9f;" [routerLink]="'/cghome/districtgoalcompare/'+ t.district_code + '/' + t.goal_id + '/' + selectedyear"> {{t.NORMALIZE_VALUE}} </a></td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>                                
                            </ng-container>
                        </tr>
                        <!-- <tr *ngFor="let t of indicatordata ;let i=index;">
                            <ng-container *ngFor="let d of indicatorlist">                                                         
                                <ng-container *ngIf="d.indicator_master_id == t.district_indicator_master_id">
                                <td>{{i+1}}</td>
                                <td> {{t.district_name}}</td>
                                </ng-container>
                            </ng-container>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>