<div id="main-wrapper">
    <app-mainheader></app-mainheader>
    <section class="spacer bg-light">
        <div class="content-wrapper">
            <section class="spacer bg-light">
                <div class="container">
                    <div class="row py-1">
                        <div class="col-md-12">
                            <div class="card p-2 mr-0">
                                <div class="card-body p-2">
                                    <ul class="list-unstyled listing">
                                        <li>
                                            <a [routerLink]="['/cghome']" class="btn btn-custom btn-outline-info btn-md">Chhattisgarh SDG
                                                District Index</a>&nbsp;
                                            <a [routerLink]="['/sifbaseline']" class="btn btn-custom btn-outline-info btn-md">SIF Baseline and
                                                Progress Report</a>&nbsp;
                                            <a href="#" class="btn btn-custom btn-outline-info btn-md"
                                                target="_blank">SDG GIS Based
                                                Maps</a>&nbsp;
                                            <a href="https://sdgindiaindex.niti.gov.in/#/"
                                                class="btn btn-custom btn-outline-info btn-md" target="_blank">NITI
                                                Aayog SDG
                                                India Index 3.0</a>&nbsp;
                                            <a href="" class="btn btn-custom btn-outline-info btn-md">DIF
                                                Reports</a>&nbsp;
                                            <a [routerLink]="['/login']" class="btn btn-custom btn-info btn-md">ADMIN LOGIN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-1">
                        <div class="col-md-7">
                            <div class="card p-1 mr-1">
                                <div class="card-body p-2">
                                    <div class="row py-1">
                                        <div class="col-md-6">
                                            <div class="live-box text-center mt-2">
                                                <img class="img-fluid" src="assets/images/cm.png" alt="Honorable CM Chhattisgarh"
                                                    style="height:150px;width:auto;margin-left: 1rem;" />
                                            </div>
                                            <br>
                                            <p class="quote-text text-primary pull-center" style="text-align: center;">
                                                <span class="cmname">Shri Vishnu Deo Sai</span>
                                                <br>
                                                <span>Hon'ble Chief Minister, C.G </span>
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="text-dark mt-1 line-h11 font-12 text-justify font-weight-normal">
                                                Chhattisgarh is committed to achieve Sustainable Development Goals
                                                (SDGs) in a
                                                time-bound manner. The philosophy of
                                                'Antyodaya' coincides with the objectives of SDG. The government is
                                                implementing schemes
                                                in such a way that the intended
                                                benefit of development reaches to the person sitting at the last mile.
                                                Achievement of
                                                SDG is a strenuous marathon, where
                                                success can only be achieved through evidence-based planning, monitoring
                                                and
                                                implementation with continuous improvement
                                                and judicious use of resources.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- <div class="row py-1">
                                                                <div class="col-md-12">
                                                                    <p class="text-dark mt-1 line-h11 font-12 text-justify font-weight-normal">
                                                                        Chhattisgarh is committed to achieve Sustainable Development Goals
                                                                        (SDGs) in a
                                                                        time-bound manner. The philosophy of
                                                                        'Antyodaya' coincides with the objectives of SDG. The government is
                                                                        implementing schemes
                                                                        in such a way that the intended
                                                                        benefit of development reaches to the person sitting at the last mile.
                                                                        Achievement of
                                                                        SDG is a strenuous marathon, where
                                                                        success can only be achieved through evidence-based planning, monitoring
                                                                        and
                                                                        implementation with continuous improvement
                                                                        and judicious use of resources.
                                                                    </p>
                                                                </div>
                                                            </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card p-2 mr-1">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h3 class="text-dark font-weight-bold">About Sustainable Development Goals
                                            (SDGs)</h3>
                                        <ul>
                                            <li>
                                                <p class="text-success mt-1 line-h11 font-12 text-justify font-weight-normal">Sustainable Development Goals (SDG) are
                                                    adopted by
                                                    193 member states including India at the United Nations (UN) summit
                                                    in September 2015 are collection of 17 global goals aimed at improving the
                                                    planet
                                                    and the quality of human life around
                                                    the world by the year 2030.</p>
                                            </li>
                                            <li>
                                                <p class="text-success mt-1 line-h11 font-12 text-justify font-weight-normal"> Chhattisgarh has adopted 106 targets and 275 indicators at State level and 45
                                                    targets and 82 indicators for districts.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <div class="row py-1">                       
                        <div class="col-md-7">
                            <div class="card p-1 mr-1">
                                <div class="card-body p-4">
                                      <h4 class="text-dark font-weight-bold">Comparison with Other States</h4>
                                        <div class="row"> 
                                            <div class="col-md-7">
                                                <div class='my-legend'>
                                                    <div class='legend-scale'>
                                                        <ul class='legend-labels'>
                                                            <li><span style='background:#dd1e47; print-color-adjust: exact;'></span>
                                                                Aspirant(0-49) &nbsp;&nbsp;
                                                            </li>                                               
                                                            <li>
                                                                <span style='background:#00a084; print-color-adjust: exact;'></span>
                                                                Front Runner(65-99) &nbsp;&nbsp;
                                                            </li>
                                                        </ul>                                            
                                                        <ul class='legend-labels'>
                                                            <li>
                                                                <span style='background:#ffc40c; print-color-adjust: exact;'></span>
                                                                Performer(50-64) &nbsp;&nbsp;
                                                            </li>
                                                            <li>
                                                                <span style='background:#00aeef; print-color-adjust: exact;'></span>
                                                                Achiever(100)
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <form [formGroup]="maindashboard">
                                                    <mat-form-field>
                                                        <mat-label>Select Year<span class="required"></span> </mat-label>
                                                        <mat-select formControlName="index_report_year" (selectionChange)="onYearSelected($event)" >
                                                            <mat-option *ngFor="let f of year" [value]="f.index_report_year" >
                                                                {{f.index_report_year}} </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </form>
                                            </div>  
                                        </div>
                                        <div class="row"> 
                                            <div class="col-md-11">
                                                <app-indiasvg></app-indiasvg>
                                            </div>
                                             <div class="col-md-1"></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card p-1 mr-1">
                                <div class="card-body p-4">
                                    <h4 class="text-dark font-weight-bold">
                                        Goal Wise Performance (Chhattisgarh)
                                    </h4>    
                                    <div class='my-legend'>                                        
                                        <div class='legend-scale'>
                                            <ul class='legend-labels'>
                                                <li><span style='background:#dd1e47; print-color-adjust: exact;'></span>
                                                    Aspirant(0-49) &nbsp;&nbsp;
                                                </li>                                               
                                                <li>
                                                    <span style='background:#00a084; print-color-adjust: exact;'></span>
                                                    Front Runner(65-99) &nbsp;&nbsp;
                                                </li>
                                            </ul>                                            
                                            <ul class='legend-labels'>
                                                <li>
                                                    <span style='background:#ffc40c; print-color-adjust: exact;'></span>
                                                    Performer(50-64) &nbsp;&nbsp;
                                                </li>
                                                <li>
                                                    <span style='background:#00aeef; print-color-adjust: exact;'></span>
                                                    Achiever(100)
                                                </li>
                                            </ul>
                                           
                                        </div>
                                    </div>
                                    <div id="chart">
                                        <ng-container *ngIf="chartOptions?.series">
                                            <apx-chart #chart1 [series]="chartOptions.series" [chart]="chartOptions.chart"
                                                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                                                [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend"
                                                [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <app-mainfooter></app-mainfooter>

</div>